*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #09c;
}

#myCanvas {
    background-color: #eee;
}
.convasContainer{
    margin: auto;
    width: 650px;
}
