<<<<<<< HEAD
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(3 21 39);
}

#myCanvas {
    background-color: #eee;
    margin-top: 50px;
}

.convasContainer{
    margin: auto;
    width: 650px;
}

>>>>>>> b62a531b7ae027458a2dcd1da66dca20ea9bf6bf
